<launch>
    <param name="simulated_robots" value="true"/>
    <param name="simulator_factor" value="10.0"/>
    <param name="EXPNUM" value="0"/>


   <!--  <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>

        $(find turtlebot_ds)/worlds/simple.world 
        <arg name="world_name" value="$(find turtlebot_ds)/worlds/anomaly5.world"/>
    </include>-->

    <!--Controllers -->
    <!--<include file="$(find agent)/python_code/mapper_pycharm/controller_node.py">
        <arg name="ID" value="0"/>
    </include>-->
    
    <node name="controller_0" pkg="agent" type="controller_node.py" output="screen">
        <param name="ID" type="int" value="0" />
    </node>

    <node name="controller_1" pkg="agent" type="controller_node.py" output="screen">
        <param name="ID" type="int" value="1" />
    </node>

    <node name="controller_2" pkg="agent" type="controller_node.py" output="screen">
        <param name="ID" type="int" value="2" />
    </node>

    <node name="controller_3" pkg="agent" type="controller_node.py" output="screen">
        <param name="ID" type="int" value="3" />
    </node>

    <node name="controller_4" pkg="agent" type="controller_node.py" output="screen">
        <param name="ID" type="int" value="4" />
    </node>



    <!--<include file="$(find turtlebot_ds)/launch/single_robot.launch">-->
    <!--<arg name="robot_id" value="Robot5"/>-->
    <!--<arg name="robot_pose" value="-x 4.5 -y 0.0 -z 0"/>-->
    <!--</include>-->

    <!--<include file="$(find turtlebot_ds)/launch/single_robot.launch">-->
    <!--<arg name="robot_id" value="Robot6"/>-->
    <!--<arg name="robot_pose" value="-x -4.5 -y 0.0 -z 0"/>-->
    <!--</include>-->

    <!--<include file="$(find turtlebot_ds)/launch/single_robot.launch">-->
    <!--<arg name="robot_id" value="Robot7"/>-->
    <!--<arg name="robot_pose" value="-x 0.0 -y 3.5 -z 0"/>-->
    <!--</include>-->

    <!--<include file="$(find turtlebot_ds)/launch/single_robot.launch">-->
    <!--<arg name="robot_id" value="Robot8"/>-->
    <!--<arg name="robot_pose" value="-x 0.0 -y -3.5 -z 0"/>-->
    <!--</include>-->
</launch>

