<launch>
    <!-- Fundamental ROS parameters -->
    <param name="simulated_robots" value="false"/>
    <param name="EXPNUM" value="4"/>

    <!-- Mapping from internal number 0..n-1 to the AR_Tracker number -->
    <arg name="robotID0" value="1"/>
    <arg name="robotID1" value="2"/>
    <arg name="robotID2" value="3"/>
    <arg name="robotID3" value="6"/>
    <arg name="robotID4" value="5"/>
    
    <param name="init_pos" value="True"/> <!-- the controller node takes care of that -->

    <!-- Map servers -->
    <node name="map_server_0" pkg="agent" type="map_server_node.py" output="screen">
        <param name="ID" type="int" value="0" />
    </node>
    
    <node name="map_server_1" pkg="agent" type="map_server_node.py" output="screen">
        <param name="ID" type="int" value="1" />
    </node>
    
    <node name="map_server_2" pkg="agent" type="map_server_node.py" output="screen">
        <param name="ID" type="int" value="2" />
    </node>
    
    <node name="map_server_3" pkg="agent" type="map_server_node.py" output="screen">
        <param name="ID" type="int" value="3" />
    </node>
    
    <node name="map_server_4" pkg="agent" type="map_server_node.py" output="screen">
        <param name="ID" type="int" value="4" />
    </node>
    

    
       <!--Controllers -->
    <node name="controller_0" pkg="agent" type="controller_node.py" output="screen">
        <param name="ID" type="int" value="0" />
	    <param name="epucknum" type="int" value="1" />
	    <param name="leftepucknum" type="int" value="2" />
	    <param name="rightepucknum" type="int" value="5" />
    </node>

    <node name="controller_1" pkg="agent" type="controller_node.py" output="screen">
        <param name="ID" type="int" value="1" />
	    <param name="epucknum" type="int" value="2" />
	    <param name="leftepucknum" type="int" value="3" />
	    <param name="rightepucknum" type="int" value="1" />
    </node>

    <node name="controller_2" pkg="agent" type="controller_node.py" output="screen">
        <param name="ID" type="int" value="2" />
	    <param name="epucknum" type="int" value="3" />
	    <param name="leftepucknum" type="int" value="6" />
	    <param name="rightepucknum" type="int" value="2" />
    </node>

    <node name="controller_3" pkg="agent" type="controller_node.py" output="screen">
        <param name="ID" type="int" value="3" />
	    <param name="epucknum" type="int" value="6" />
	    <param name="leftepucknum" type="int" value="5" />
	    <param name="rightepucknum" type="int" value="3" />
    </node>

    <node name="controller_4" pkg="agent" type="controller_node.py" output="screen">
        <param name="ID" type="int" value="4" />
	    <param name="epucknum" type="int" value="5" />
	    <param name="leftepucknum" type="int" value="1" />
	    <param name="rightepucknum" type="int" value="6" />
    </node>

</launch>

