<launch>
    <!-- Epuck Addresses -->
	<arg name="epuck_address0" value="10:00:E8:6C:D8:20"/>	<!--1573-->
	<arg name="epuck_address1" value="10:00:E8:6C:D7:E6"/>	<!--1589-->

	<!-- Epuck Names -->
	<arg name="epuck_name0" value="epuck0"/>
	<arg name="epuck_name1" value="epuck1"/>
	<arg name="epuck_name2" value="epuck2"/>
	<arg name="epuck_name3" value="epuck3"/>
	<arg name="epuck_name4" value="epuck4"/>


	<!-- Epuck Settings for all -->
    <arg name="cam_en" default="false"/>
    <arg name="acc_en" default="false"/>
    <arg name="prox_en" default="false"/>
    <arg name="mot_pos_en" default="false"/>
    <arg name="light_en" default="false"/>
    <arg name="floor_en" default="false"/>
	<arg name="sel_en" default="false"/>
	<arg name="mot_speed_en" default="false"/>
	<arg name="mic_en" default="false"/>
	<arg name="xpos" default="0.0"/>
	<arg name="ypos" default="0.0"/>
	<arg name="theta" default="0.0"/>
	<arg name="is_single_robot" default="0" />
	<arg name="queue_size" default="1" />

	<!-- Epuck0 -->
    <node pkg="epuck_driver" type="epuck_driver.py" name="$(arg epuck_name0)" output="screen">
        <param name="epuck_address" value="$(arg epuck_address0)"/>
        <param name="epuck_name" value="$(arg epuck_name0)"/>
        <param name="camera" value="$(arg cam_en)"/>
        <param name="accelerometer" value="$(arg acc_en)"/>
        <param name="proximity" value="$(arg prox_en)"/>
        <param name="motor_position" value="$(arg mot_pos_en)"/>
        <param name="light" value="$(arg light_en)"/>
        <param name="floor" value="$(arg floor_en)"/>
		<param name="selector" value="$(arg sel_en)"/>
		<param name="motor_speed" value="$(arg mot_speed_en)"/>
		<param name="microphone" value="$(arg mic_en)"/>
		<param name="xpos" value="$(arg xpos)"/>
		<param name="ypos" value="$(arg ypos)"/>
		<param name="theta" value="$(arg theta)"/>
		<param name="queue_size" value="$(arg queue_size)"/>
    </node>
    <!--<node name="epuck_state_publisher0" pkg="robot_state_publisher" type="state_publisher">
        <param name="tf_prefix" value="$(arg epuck_name0)" />
    </node>-->

	<!-- Epuck1 -->
    <node pkg="epuck_driver" type="epuck_driver.py" name="$(arg epuck_name1)" output="screen">
        <param name="epuck_address" value="$(arg epuck_address1)"/>
        <param name="epuck_name" value="$(arg epuck_name1)"/>
        <param name="camera" value="$(arg cam_en)"/>
        <param name="accelerometer" value="$(arg acc_en)"/>
        <param name="proximity" value="$(arg prox_en)"/>
        <param name="motor_position" value="$(arg mot_pos_en)"/>
        <param name="light" value="$(arg light_en)"/>
        <param name="floor" value="$(arg floor_en)"/>
		<param name="selector" value="$(arg sel_en)"/>
		<param name="motor_speed" value="$(arg mot_speed_en)"/>
		<param name="microphone" value="$(arg mic_en)"/>
		<param name="xpos" value="$(arg xpos)"/>
		<param name="ypos" value="$(arg ypos)"/>
		<param name="theta" value="$(arg theta)"/>
		<param name="queue_size" value="$(arg queue_size)"/>
    </node>
    <!--<node name="epuck_state_publisher1" pkg="robot_state_publisher" type="state_publisher">
        <param name="tf_prefix" value="$(arg epuck_name1)" />
    </node>-->

</launch>
